
.homeContainer {
    background-color: #8f08b1;
}
.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bodyText, .h1Body {
    margin: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.h1Title {
    margin-top: 15px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.h1Body {
    color:whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}