.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 250px;
    margin-right: 390px;
    overflow: hidden;
    height: 100%;
}



.formCard {
    margin-bottom: 20px;
    height: 300px;
    color: rgb(200, 34, 159);
    background-color: black;
    border-color: rgb(0, 0, 0);
    transition:color 0.5s, border-color 0.5s;
}

.button {
    background-color: #15172b;
    border-color: rgb(200, 34, 159);
    color: rgb(200, 34, 159);
    transition:color 0.5s, border-color 0.5s;
}

.formCard:hover{
    color: rgb(232, 204, 20);
    border-color: rgb(232, 204, 20);
}

.button:hover{
    color: rgb(232, 204, 20);
    border-color: rgb(232, 204, 20);
}